<div class="row" id="question-holder">
    <div class="large-12 columns">
        <h3>{{oneQuestion.question}}</h3>
    </div>
</div>
<div class="row">
    <div id="editor" class="large-12 columns">function foo(items) { var x = "All this is syntax highlighted"; return x; }</div>
</div>
<br>
<!-- <div class="row posts" ng-repeat="answer in Answers">
    <div class="large-1 columns upvote">
        <i class="fi-like button"></i>
        <br>
        <i class="fi-dislike button"></i>
    </div>
    <div>
        <div class=" large-12 columns postq">
            <h5>{{answer.answer}}<h5>
                    <div class="row">
                        <div id="editor" class="large-12 columns">function foo(items) { var x = "All this is syntax highlighted"; return x; }</div>
                    </div>
                </div>
            </div>
        </div> -->
        <one-question-directive class="row posts" ng-repeat="answer in Answers" answer="answer" date="date"></one-question-directive>
        <div class="row">
            <div class="large-12 columns post-answer">
                <h5>Your Answer</h5>
                <input type="text" ng-model="answer.answer">
                <button class="button" type="submit" ng-click="postAnswer(answer, oneQuestion._id)">Answer</button>
            </div>
        </div>
