<div class="row" id="question-holder">
    <div class="large-offset-1 columns">
        <h3>{{oneQuestion.question}}</h3>
    </div>
</div>
<div class="row" id="question-holder">
    <div class="editor" ui-ace="{
      useWrapMode : true,
      mode: 'javascript',
      theme:'idle_fingers',
      onLoad: aceLoaded,
      onChange: aceChanged
      }"></div>
</div>
<br>
<one-question-directive class="row" ng-repeat="answer in Answers" answer="answer" date="date"></one-question-directive>
<div class="row">
  <div class="large-12 columns post-answer">
    <h5>Your Answer</h5>
    <input type="text" ng-model="answer.answer">
    <button class="button" type="submit" ng-click="postAnswer(answer, oneQuestion._id)">Answer</button>
  </div>
</div>
