body {
  background-color: white;
}

header {
    height: 35px;
    background-color: #444444;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}


input.search {
    margin-top: 15px;
}

.help {
    margin-top: 15px;
}

content.menu {
    background-color: white;
    padding-top: 19px;
    padding-bottom: 19px;
}

content.menu li:hover {
    background-color: #444444;
}

#help {
    margin-top: 16px;
}

.posts {
    /*border-top: 1px solid lightgrey;*/
    font-size: .8em;
}

.posts h1 {
    font-size: .4em;
}

#post-icons {
    font-size: 1.2em;
    background-color: lightgrey;
    padding-top: 20px;
}

.postq {
    padding-top: 10px
}

@media screen and (min-width: 64em) {
    body {
      background-color: #D1D5DE;
    }
    header {
        padding-top: 45px;
        padding-bottom: 45px;
        margin-bottom: 20px;
        border-bottom: 2px solid #26A3D6;
    }
    header div {
        font-size: 1.3em;
    }
    #help {
        margin-top: 35px;
    }
    content.menu {
        align-content: flex-end;
    }
    .posts {
        margin-top: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #E7E5DF;
        border-bottom: 2px solid hsla(0, 0%, 27%, .2);
    }
    content.menu {
        background-color: #E7E5DF;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    #menu-large li {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #26A3D6;
        margin-top: 20px;
    }
    #menu-large li:hover {
        background-color: hsla(0, 0%, 27%, 1);
    }
    #menu-large li a {
        color: #E7E5DF;
    }
    #qmenu li a {
        color: #E7E5DF;
    }
    #qmenu li {
        background-color: #444444;
        margin-left: 5px;
        border-top: 5px solid #E7E5DF;
    }
    #qmenu li:hover {
      border-top: 5px solid #28A5D9;
    }
    i.button {
      background-color: #28A5D9;
    }
    ul.login {
      color: #26A3D6;
    }
    #editor {
      margin-top: 15px;
      height: 200px;
      width: 100%;
      border: 5px solid #444444;
    }
    .upvote {
      border-right: 2px solid hsla(0, 0%, 27%, .2);
    }
    .post-answer {
      margin-top: 40px;
    }
    footer {
      margin-top: 40px;
      border-top: 2px solid #26A3D6;
      background-color: #444444;
    }
    footer ul.menu {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    footer ul li a {
      color: white;
    }
}
