<div class="ask">
  <div>
    <h4>Remember to search for your question!</h4>
    <br>
    <p>I want everyone to get their question answered but, it doesnt always happen!</p>
  </div>
  <br>
  <form method="post">
    <div class="title">
      <div>
        <label>Title</label>
      </div>
      <br>
      <div>
        <input type="text" placeholder="What's your question? be specific" ng-model="question.question">
      </div>
    </div>
    <br>
    <div class="editor-wrapper">
      <div class="editor" ng-model="question.code" ui-ace="askAce"></div>
    </div>
    <div>
      <label>Tags</label>
    </div>
    <br>
    <div>
      <input type="text" placeholder="At least one tag, max 5" ng-model="question.tags">
    </div>
    <br>
    <div>
      <button type="submit" name="button" ng-click="addQuestion(question)" ui-sref="home">Submit</button>
    </div>
  </form>
</div>
